/* FONTS */

$font-size-h1: 4rem;
$font-size-h2: 2rem;
$font-size-p: 1rem;
$font-size-btn: 1.125rem;

/* FONTS PADDING/MARGIN */
$font-padding: 2rem;

/* COLORS */

$color-primary: #4563bf;
$color-secondary: #3a4e8c;

$color-btn-primary: linear-gradient(90deg, #448ff2, #4563bf);

$text-color: #f2f2f2;

$bg-color-primary: #262626;
$bg-color-secondary: #303030;
$bg-color-header: #424242; 

/* FONT */

$font: "Roboto", sans-serif;
