@import "./variables";
@import "./mixins";

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px auto;
  grid-template-areas:
    "s n n n n"
    "s m m m m";
}
