<head>
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="C:\Users\mikke\Desktop\WebUdvikler\Semesterprojekt\stackit-semester-project-e19-tonny-tobias-lasse-mikkel-og-andreas\styles\input.css"
  />
</head>

<div class="task-list-wrap">
  <h2 class="task-list-headline"></h2>

  <div class="task-list">
    <div class="task-list-item" onclick="showbox()">
      <p class="task-list-item-text">Task 1</p>
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="task-list-item-extra" id="taskshow">
      <p class="task-list-item-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, impedit
        vitae! Molestiae earum ea dignissimos necessitatibus debitis alias
        possimus accusantium quo maiores aspernatur labore, beatae error
        eligendi modi repellat obcaecati?
      </p>
    </div>
  </div>

  <div class="task-list">
    <div class="task-list-item" onclick="showbox2()">
      <p class="task-list-item-text">Task 1</p>
      <i class="fas fa-chevron-down"></i>
    </div>
    <div class="task-list-item-extra" id="taskshow2">
      <p class="task-list-item-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        magnam ad, hic odit minima id minus porro officia quisquam fugit
        voluptatem corrupti numquam cupiditate assumenda, dolorem inventore. Id,
        exercitationem eius.
      </p>
    </div>
  </div>
</div>

<script src="C:\Users\mikke\Desktop\WebUdvikler\Semesterprojekt\stackit-semester-project-e19-tonny-tobias-lasse-mikkel-og-andreas\js\script.js"></script>
