<section class="lists">
  <div class="title-wrapper">
    <ul class="title-list">
      <li class="list__item"><h2>Logs</h2></li>
      <li class="list__item"><h2>Operation</h2></li>
      <li class="list__item"><h2>Status</h2></li>
    </ul>
  </div>
  <ul class="list-wrapper">
    <li>
      <ol class="list">
        <li class="list__item">
          <p>Paragraph</p>
        </li>
        <li class="list__item">
          <p>Paragraph</p>
        </li>
        <li class="list__item">
          <img src="" alt="icon" class="icon" />
        </li>
      </ol>
    </li>
    <li>
      <ol class="list">
        <li class="list__item">
          <p>Paragraph</p>
        </li>
        <li class="list__item">
          <p>Paragraph</p>
        </li>
        <li class="list__item">
          <img src="" alt="icon" class="icon" />
        </li>
      </ol>
    </li>
  </ul>
</section>
