<head>
    <link rel="stylesheet" href="C:\Users\mikke\Desktop\WebUdvikler\Semesterprojekt\stackit-semester-project-e19-tonny-tobias-lasse-mikkel-og-andreas\styles\input.css">
</head>

<div class="profile-block">
    <div class="profile-block-info">
        <p class="profile-block-info-text">Name: </p>
        <p class="profile-block-info-text">Department: </p>
    </div>
    <img class="profile-block-img" href="" src="C:\Users\mikke\Desktop\WebUdvikler\Semesterprojekt\stackit-semester-project-e19-tonny-tobias-lasse-mikkel-og-andreas\styles\img\placeholder.png">
</div>