<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="../styles/input.css">
</head>

<body>
	<div class="sidemenu">
		<img src="../styles/img/logo.svg" alt="StackIT Logo" class="sidemenu__logo" />
		<h3 class="sidemenu__title title--h3">Menu</h3>
		<ul class="sidemenu__list">
			<li class="sidemenu__list-item">
				<a class="sidemenu__list-link" href="">Menu punkt 1</a>
			</li>
			<li class="sidemenu__list-item">
				<a class="sidemenu__list-link" href="">Menu punkt 2</a>
			</li>
			<li class="sidemenu__list-item">
				<a class="sidemenu__list-link" href="">Menu punkt 3</a>
			</li>
			<li class="sidemenu__list-item">
				<a class="sidemenu__list-link" href="">Menu punkt 4</a>
			</li>
			<li class="sidemenu__list-item">
				<a class="sidemenu__list-link" href="">Menu punkt 5</a>
			</li>
		</ul>
	</div>
</body>

</html>