/*
  Sidebar Component
*/
.sidemenu {
	background: $bg-color-primary;
	color: $text-color;
	padding: 2rem 1rem;
}

.sidemenu__logo {
	margin-bottom: 2rem;
}

.sidemenu__title {
	font-size: $font-size-h2;
}

.sidemenu__list-link {
	text-decoration: underline;

	&:hover {
		color: $color-primary;
	}
}